<div id="mySidenav" class="sidenav">
    <a href="/profile" id="about">Home</a>
    <a href="/admin/register" id="blog">Add Users</a>
    <a href="/admin/userlist" id="projects">Users list</a>
    <a href="/admin/communitieslist" id="contact">Communities list</a>
    <a href="#" id="chanpass" data-toggle="modal" data-target="#myModal" >Change Password</a>
</div>

<!--Change Password-->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(255, 94, 0)">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white">Change Password</h4>
            </div>
            <div class="modal-body">
                <form action="/changePassword" method="post" class="form-horizontal" id="form" style="max-width:500px;margin:auto">
                    <div class="form-group">
                        <input type="password" required="" name="currpassword" class="form-control" placeholder="Current Password" autocomplete="off">
                        <br/>
                    </div>
                    <div class="form-group">
                        <input type="password" required="" name="newpassword" class="form-control" placeholder="New Password" autocomplete="off">
                        <br/>
                    </div>
                    <div class="form-group">
                        <input type="password" required="" name="confirmpassword" class="form-control" placeholder="Confirm New Password" autocomplete="off">
                        <br/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change" class="btn btn-success" style="background-color:rgb(255, 94, 0)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>