<div id="mySidenav" class="sidenav">
        <a href="#" id="about">Home</a>
        <a href="#" id="blog">Add Users</a>
        <a href="#" id="projects">Users list</a>
        <a href="#" id="contact">Communities list</a>
        <a href="#" id="contact">Change Password</a>
    </div>